.hvl-i-commentsg {
    width: 16px;
    height: 16px;
    background-position: 0 0;
}

.hvl-i-down {
    width: 14px;
    height: 14px;
    background-position: -16px 0;
}

.hvl-i-downg {
    width: 14px;
    height: 14px;
    background-position: -30px 0;
}

.hvl-i-expandw {
    width: 12px;
    height: 12px;
    background-position: -44px 0;
}

.hvl-i-file {
    width: 14px;
    height: 16px;
    background-position: -21px -19px;
}

.hvl-i-laravel24 {
    width: 24px;
    height: 24px;
    background-position: -40px -14px;
}

.hvl-i-mphonew {
    width: 15px;
    height: 15px;
    background-position: 0 -38px;
}

.hvl-i-pencilg {
    width: 16px;
    height: 16px;
    background-position: -40px -38px;
}

.hvl-i-reloadg {
    width: 16px;
    height: 16px;
    background-position: -64px 0;
}

.hvl-i-rss24 {
    width: 24px;
    height: 24px;
    background-position: -56px -38px;
}

.hvl-i-rss24g {
    width: 24px;
    height: 24px;
    background-position: -80px 0;
}

.hvl-i-up {
    width: 14px;
    height: 14px;
    background-position: 0 -24px;
}

.hvl-i-upg {
    width: 14px;
    height: 14px;
    background-position: -64px -24px;
}

.hvl-i-zoomw {
    width: 14px;
    height: 13px;
    background-position: -78px -24px;
}
