.hvl-i-expand {
    width: 12px;
    height: 12px;
    background-position: 0 0;
}

.hvl-i-laravel24 {
    width: 24px;
    height: 24px;
    background-position: -12px 0;
}

.hvl-i-zoom {
    width: 14px;
    height: 13px;
    background-position: -36px 0;
}
